@import "constants";

footer {
  padding-top: 0;
  transition: all .25s linear;
  &.active {
    padding-top: 340px;
  }
  .footer-wrapper {
    align-items: flex-start;
    padding: 70px 0 50px;
    .footer-logo svg  {
      fill: $color-seaweed;
    }
    > div:last-child {
      width: 80%;
      font-size: 14px;
      line-height: 24px;
      letter-spacing: .5px;
      color: $text-cool-grey;
      .footer-info {
        justify-content: space-between;
        .copyright {
          width: 75%;
        }
        .footer-link  {
          div:not(:last-child){
            padding-right: 40px;
            padding-top: 3px;
          }
          a {
            width: 18px;
            height: 20px;
            svg {
              fill: $color-seaweed;
            }
          }
        }
      }
      .legal-agreements {
        width: 75%;
        p {
          margin-bottom: 25px;
        }
        span {
          color: $color-seaweed;
        }
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  footer.active {
    padding-top: 0;
  }
}
@media screen  and (min-width: 768px) and (max-width: 1024px){
  footer {
    .footer-wrapper {
      > div:last-child {
        width: 75%;
        .footer-info {
          margin-bottom: 37px;
        }
        .legal-agreements {
          width: 100%;
        }
      }
    }
  }
}
@media screen and (max-width: 767px) {
  footer {
    padding: 0 20px;
    .footer-wrapper {
      flex-direction: column;
      justify-content: center;
      padding: 47px 0 18px 0;
      > div {
        width: 100%;
        &:first-child {
          margin-bottom: 39px;
          text-align: center;
        }
        &:last-child {
          width: 100%;
          .footer-info {
            flex-direction: column;
            margin-bottom: 42px;
            text-align: center;
            .copyright {
              width: 100%;
              margin-bottom: 42px;
            }
            .footer-link {
              justify-content: center;
              div:not(:last-child) {
                margin-right: 100px;
              }
            }
          }
          .legal-agreements {
            width: 100%;
          }
        }
      }
    }
  }
}