@import "constants";

$lang-height: 30px;
$lang-count: 3;

.logo a:hover,
.footer-logo a:hover {
  opacity: 1;
}
.logo-svg {
  width: 162px;
  height: 55px;
}
@mixin drop-down-menu {
  &.menu-item-has-children > a {
    background-color: $color-metal;
    color: #fff;
    transition: color .25s ease-in-out;
    opacity: 1;
    &::before {
      bottom: 2px;
      box-shadow: 2px 2px 0 0 #fff;
      transform: rotate(-135deg);
      transition: all .25s ease-out;
      content: '';
    }
  }
  &.menu-item-has-children ul {
    display: block;
    opacity: 0;
    animation: drop-down .25s linear forwards;
    -webkit-box-shadow: 0px 14px 31px -10px rgba(8,96,50,0.5);
    -moz-box-shadow: 0px 14px 31px -10px rgba(8,96,50,0.5);
    box-shadow: 0px 14px 31px -10px rgba(8,96,50,0.5);
    @keyframes drop-down {
      from {
        opacity: 1;
      }
      to {
        opacity: 1;
        max-height: 1000px;
      }
    }
  }
}
.header-return-style {
  padding-left: 50px;
  p {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    text-transform: uppercase;
    color: $color-seaweed;
    line-height: 1;
    &::before {
      position: absolute;
      top: 2px;
      left: -20px;
      width: 10px;
      height: 10px;
      -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      transform: rotate(135deg);
      -webkit-box-shadow: 1px 1px 0 0 #16c658;
      box-shadow: 2px 2px 0 0 #16c658;
      content: '';
    }
  }
}
@mixin fixed-header {
  position: fixed;
  top:0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 1);
}
header {
  &.absolute {
    position: absolute;
  }
  top:0;
  right: 0;
  left: 0;
  width: 100%;
  padding-top: 47px;
  > .main-header {
    position: relative;
    width: 100%;
    z-index: 1010;
    &.fixed {
      height: 67px;
      @include fixed-header();
      &.mob-open-menu .logo {
        padding-top: 65px;
      }
      .logo {
        .logo-smile {
          fill: transparent;
          transition: fill .25s linear;
        }
      }
    }
    &.mob-open-menu {
      @include fixed-header();
      background: rgba(0,0,0,.5);
      bottom: 0;
      .header-wrapper {
        overflow: hidden;
        background-color: #fff;
        transition: background-color 0.05s linear;
      }
      nav, .language {
        display: block;
      }
      .logo {
        .logo-smile {
          fill: $color-seaweed;
          transition: fill .25s linear;
        }
      }
    }
  }
}
.header-wrapper {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 40px;
  box-sizing: border-box;
  color: $color-seaweed;
  z-index: 1009;
  transition: background-color .25s .25s linear;
  .language {
    position: relative;
    width: 21px;
    height: $lang-height;
    margin-right: 40px;
    cursor: pointer;

    /*.language-toggle {*/
     ul {
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: $lang-height;
      overflow: hidden;
      transition: height .25s linear;
      line-height: 1;
      &:hover {
        height: $lang-height*$lang-count;
        transition: height .25s linear;
      }
    }
    a {
      font-size: 12px;
      letter-spacing: 2px;
      line-height: 2;
      font-weight: bold;
      &:hover {
        color: $hover-seaweed;
      }
    }
  }
  .logo {
    align-self: flex-end;
    margin-right: 23px;
    .logo-view {
      transition: all 1s linear;
    }
    .logo-text {
      fill: #0f4c91;
    }
    .logo-smile,
    .logo-leaf {
      fill: $color-green;
      transition: fill .25s linear;
    }
  }
  nav {
    a {
      position: relative;
      display: block;
      padding: 26px 20px;
      font-size: 14px;
      font-weight: bold;
      letter-spacing: 2px;
      transition: all .25s ease-in-out;
      text-transform: uppercase;
      &:hover {
        color: $hover-seaweed;
      }
    }
    li {
      position: relative;
      transition: all .25s linear;
      &.menu-item-has-children > a::before {
        position: absolute;
        right: 0;
        bottom: 10px;
        left: 0;
        width: 8px;
        height: 8px;
        margin: 0 auto;
        box-shadow: 2px 2px 0 0px #16c658;
        transform: rotate(45deg);
        transition: all .25s ease;
        content: '';
      }
      ul {
        position: absolute;
        display: none;
        top: 100%;
        left: 0;
        max-height: 0;
        padding: 26px;
        background-color: $color-metal;
        z-index: 1010;
        transition: all .25s linear;
        a {
          padding: 12px 0;
          word-break: keep-all;
          white-space: nowrap;
          color: #16c658;
          transition: color .25s linear;
          &:hover {
            color: #fff;
            transition: color .25s linear;
            opacity: 1;
          }
        }
      }
      &:hover {
        @include drop-down-menu();
      }
      &.active {
        @include drop-down-menu();
      }
    }
  }
  .search-button  {
    cursor: pointer;
    svg {
      fill: $color-seaweed;
    }
  }
  .toggle-nav-button {
    display: none;
  }
}

 @media screen and (max-width: 1024px) {
   .box-shadow {
     display: none;
   }

   header>.main-header.mob-open-menu {
     height: auto;
     overflow-y: scroll;
   }
   header>.main-header.fixed.mob-open-menu {
     height:auto;
   }
   header {
     &.absolute {
       position: relative;
     }
     height: 215px;
     padding-top: 0;
     > .main-header.fixed .logo {
       padding-top: 0;
     }
   }
    .header-wrapper {
      align-items: flex-start;
      padding: 20px 0 0;
      .search-return-buttons {
        order: 1;
        padding-left: 20px;
      }
      .navigation-wrapper {
        flex-direction: column;
        width: 100%;
        order: 2;
        .logo {
          align-self: center;
          margin: 0;
          padding-top: 65px;
          order: 1;
        }
        nav {
          display: none;
          width: 100%;
          order: 2;
          a {
            font-size: 24px;
            letter-spacing: 3.4px;
            font-weight: 400;
            line-height: 1;
          }
          li.menu-item-has-children:hover {
            a {
              background-color: transparent;
              color: $color-seaweed;
            }
            ul {
              display: none;
              animation: none;
            }
          }
          li.menu-item-has-children > a::before {
            display: none;
          }
          ul {
            margin-top: 50px;
            flex-direction: column;
            text-align: center;
            a {
              padding-top: 18px;
              padding-bottom: 18px;

            }
          }
        }
        .language {
          display: none;
          max-width: 100%;
          width: 100%;
          height: auto;
          margin-top: 68px;
          margin-right: 0;
          padding: 0 20%;
          background-color: $color-seaweed;
          color: #fff;
          order: 3;
          overflow: hidden;
          /*.language-toggle {*/
          .wpml-ls-sidebars-top-langueges ul{
            position: relative;
            display: flex;
            justify-content: center;
            height: auto;
            a {
              display: flex;
              padding: 27px;
              font-size: 14px;
            }
            li.wpml-ls-current-language a {
              background-color: rgba(156, 164, 170, .3);
            }
          }
        }
      }
      .toggle-nav-button {
        display: block;
        position: relative;
        width: 29px;
        height: 21px;
        cursor: pointer;
        order: 3;
        padding-right: 20px;
        .bar {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 29px;
          height: 2px;
          border-radius: 3px;
          background: $color-seaweed;
          transition: all .25s linear;
          &:before, &:after {
            position: absolute;
            content: "";
            background: $color-seaweed;
            width: 100%;
            height: 2px;
            border-radius: 8px;
            transform-origin: 50% 50%;
            transition: all .25s linear;
          }
          &:before {
            top: -8px;
          }
          &:after {
            top: 8px;
          }
        }
        &.open .bar:after,
        &.open .bar:before {
          top: 0;
        }
        &.open .bar:after{
          transform: rotate(45deg);
        }
        &.open .bar:before {
          transform: rotate(-45deg);
        }
        &.open .bar{
          background: transparent;
        }
      }
    }
   .header-wrapper .navigation-wrapper nav a {
     font-size: 21px;
   }
   header>.main-header.fixed .logo-svg {
     transform: translateY(-10px);
   }
 }
@media screen and (min-width: 767px) and (max-width: 1024px){
  .logo-svg {
    width: 386.8px;
    height: 131px;
  }
  header>.main-header.fixed {
    height: 60px;
  }
  header>.main-header.mob-open-menu:not(.fixed) .logo-svg {
    width: 257px !important;
    height: 117px !important;
    transition: all .25s linear;
  }
}
@media screen and (max-width: 767px) {
  .header-wrapper .navigation-wrapper {
    width:80%;
  }

  .logo-svg {
    max-width: 100%;
    width: 254px;
    height: 86px;
  }
  header>.main-header.fixed {
    height: 58px;
  }
}