/* colors */

$color-seaweed: rgba(22, 198, 88, 1);
$color-seaweed-opacity: rgba(22, 198, 88, .5);
$color-green: #55c137;
$color-metal: #555f66;
$text-dark: #101c24;
$text-grey: #757779;
$text-cool-grey: #9ca4aa;
$text-marine: #013353;

$indentations: 40px;
/* hover */
$hover-seaweed: darken($color-seaweed, 10%);