@import "normolize";
@import "settings";
@import "constants";

.left-side {
  width: 33%;
}
.right-side {
  width: 67%;
}
.logo {
  width: 418px;
  margin: 0 auto;
}
.mobile-slider {
  touch-action: manipulation;
}

.xs-button,
.xs-logo {
  display: none;
}
.logo,
.company-info {
  padding-top: 64px;
}
.left-img {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  img {
    position: absolute;
    left: 16vw;
    margin-left: -50%;
    top: 0;
    width: auto;
    min-width: 110%;
    min-height: 120%;
  }
}
.company-info {
  padding-bottom: 35px;
  .title {
    padding: 40px 0 26px;
  }
  ul li {
    line-height: 1.5;
    &:not(:last-child) {
      margin-bottom: 15px;
    }
  }
}
.contact-info {
  width: 100%;
  padding: 35px 0 64px;
  svg {
    margin-bottom: 20px;
  }
  .contact-info-text {
    margin-bottom: 16px;
  }
  a {
    position: relative;
    display: block;
    color: $color-seaweed;
    font-size: 14px;
    font-weight: bold;
    line-height: 1.5;
    text-transform: uppercase;
    &.to-google {
      display: inline-block;
      &::before {
        position: absolute;
        top: 30%;
        right: -15px;
        width: 8px;
        height: 8px;
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
        -webkit-box-shadow: 1px 1px 0 0 #16c658;
        box-shadow: 2px 2px 0 0 #16c658;
        content: '';
      }
    }
  }
}
.web-links {
  padding-top: 48px;
  padding-bottom: 48px;
  p {
    text-align: center;
  }
  .web-info-links {
    margin-top: 20px;
    width: 100%;
    a {
      position: relative;
      display: block;
      color: $color-seaweed;
      line-height: 1;
      font-size: 14px;
      font-weight: bold;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      text-align: center;
      &:first-child {
        border-right: 1px solid #9ca4aa;
      }
    }
  }
}
@media screen and (max-width: 1024px) {
  .company-info {
    padding-top: 28px;
  }
  .contact-info {
    flex-direction: column;
    padding-top: 0;
    padding-bottom: 48px;
  }
  .contact-info {
    .cl-6 {
      width: 100%;
      &:last-child {
        margin-top: 28px;
      }
    }
  }
  .web-info-links {
    flex-direction: column;
  }
  .web-links .web-info-links a:first-child {
    border: none;
  }
  .swipe {
    left: 0;
    .swipe-to-bottom {
      margin-bottom: 8px;
      text-align: center;
    }
    p {
      color: #fff;
      text-align: center;
    }
  }
}
/*----------- FORM -----------*/

.contacts-form.form-wrapper {
  position: fixed;
  display: none;
  bottom: 0;
  right: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0 45px;
  box-sizing: border-box;
  z-index: 1000;
  transition: all .25s ease-in-out;
  background-color: rgba(0,0,0,.5);;
  .form-container {
    position: relative;
    margin-top: 50vh;
    transform: translateY(-233px);
    padding: 35px 60px;
    background-color: #fff;
    z-index: 10;
    .form-name {
      margin-bottom: 40px;
      line-height: 1;
      text-align: left;
      font-size: 42px;
      letter-spacing: 1.5px;
      color: $text-dark;
    }
    .flex-form {
      justify-content: space-between;
      width: 100%;
      margin-bottom: 18px;
      .form-inputs {
        width: 49%;
      }
    }
  }
  .form-ruls {
    text-align: center;
    color: $text-grey;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 1.2px;
  }
}

.input-container {
  position: relative;
  width: 100%;
  height: 70px;
  background-color: #ededed;
  &:not(:last-child) {
    margin-bottom: 20px;
  }
  &.textarea-container {
    height: 180px;
    margin-bottom: 0;
  }
  .placeholder {
    position: absolute;
    left: 25px;
    top: 23px;
    font-size: 16px;
    line-height: 24px;
    color: $text-cool-grey;
    transition: all .25s ease;
    font-weight: 300;
    &.active {
      top: 10px;
      font-size: 12px;
    }
  }
  > span:not(.placeholder) {
    display: block;
    width: 100%;
    height: 100%;
    input, select, textarea {
      width: 100%;
      height: 100%;
      padding: 32px 25px 0 25px;
      border: 2px solid transparent;
      box-sizing: border-box;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: .6px;
      background-color: transparent;
      transition: border-color .25s ease;
      z-index: 1001;
      &:focus,
      &:active {
        border-color: $color-seaweed;
        outline: none;
      }
    }
    select {
      position: relative;
      padding-top: 0;
      -moz-appearance: none;
      -webkit-appearance: none;
      appearance: none;
      background: url("../img/path-2.jpg") no-repeat scroll 100% 0 transparent;
      text-indent: 0.01px;
      text-overflow: "";
      option {
        background: #dedede;
      }
    }
  }
}
.plain-svg {
  position: absolute;
  top: 50%;
  left: 35%;
  margin-top: -9px;
}
.close {
  cursor: pointer;
  text-align: end;
}
input[type=submit] {
  width: 100%;
  padding-left: 25px;
  border: none;
  text-align: center;
}
.submit-wrapper {
  position: relative;
}
@media screen and (max-width: 1024px){
  /* CONTACT FORM */
  .close {
    margin-bottom: 20px;
    text-align: center;
  }
  .contacts-form.form-wrapper {
    overflow-y: scroll;
    height: 100%;
    .form-fixed-popup-container {
      max-width: 695px;
      width: 100%;
      margin: 0 auto;
    }
    .form-container {
      width: 100%;
      margin: 0;
      box-sizing: border-box;
      transform: translateY(0);
      .form-name {
        margin-bottom: 45px;
        text-align: center;
        font-size: 32px;
        letter-spacing: 1.1px;
      }
      .flex-form {
        flex-direction: column;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 18px;
        .form-inputs {
          width: 100%;
          &:first-child {
            margin-bottom: 20px;
          }
        }
      }
    }
  }
}
/*-------- END FORM --------*/
@media screen and (min-width: 768px) and (max-width: 1024px) {
  .swipe {
    position: fixed;
    padding-bottom: 38px;
    bottom: 0;
    width: 40%;
    p {
      line-height: 1.5;
      font-size: 16px;
    }
  }
  .company-info {
    padding-bottom: 48px;
  }
  .left-side {
    width: 40%;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.58), rgba(0, 0, 0, 0));
  }
  .right-side {
    width: 60%;
  }
  .left-logo {
    position: absolute;
    top: 0;
    text-align: center;
    width: 40%;
    margin: 0 auto;
    padding-top: 49px;
  }
  .web-links {
    p {
      text-align: left;
    }
    .web-info-links {
      a {
        text-align: left;
        line-height: 2;
        margin-top: 0;
      }
    }
  }
  .contacts-form.form-wrapper {
    padding: 0 40px;
    .form-container {
      padding: 40px 40px 28px;
    }
  }

}
.sending-message {
  background-color: rgba(255,255,255,.5);
  > div > div {
    width:50px;
    height: 50px;
    border-left: 1px solid $color-seaweed;
    border-right: 1px solid $color-seaweed;
    border-radius: 50%;
    animation: rotating linear .5s infinite;
  }
}
.sendok-message {
  background-color: #fff;
}
.sendok-message,
.sending-message {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 4000;
  > div{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    .message-send {
      font-size: 18px ;
    }
  }
}
@keyframes rotating {
  100% {
    transform: rotate(360deg);
  }
}
@media screen and (max-width: 767px) {
  .company-info {
    padding-bottom: 65px;
  }
  .right-side {
    width: 100%;
    height: calc(100vh - 57px);
  }
  .left-side {
    display: none;
  }
  .right-side {
    .g-button {
      display: none;
    }
  }
  .owl-stage {
    display: flex;
    align-items: flex-start;
  }
  .xs-logo {
    position: relative;
    display: block;
    width: 100%;
    max-height: 100%;
    box-sizing: border-box;
    .logo-wrapper {
      width: 100%;
      height: calc(100vh - 57px);
      padding-top: 65px;
      text-align: center;
      background-image: url('../img/bitmap.jpg') , linear-gradient(rgba(0, 0, 0, 0.23), rgba(0, 0, 0, 0.23)), linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.53));
      background-repeat: no-repeat;
      background-size: cover;
      box-sizing: border-box;
    }
  }
  .xs-button.g-button {
    display: block;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 21px 0;
  }
  .swipe {
    position: absolute;
    bottom: 100px;
    padding-bottom: 0;
    width: 100%;
    p {
      line-height: 1.5;
      font-size: 14px;
    }
  }
  .owl-item {
    position: relative;
    &:not(:first-child) {
      &::after {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        height: 42px;
        background-image: linear-gradient(to bottom,rgba(255,255,255,0),rgba(255,255,255,1));
        content: '';      }
    }
    > div {
      height: calc(100vh - 57px);
      overflow-y: scroll;
    }
    &:first-child {
      > div {
        overflow-y: hidden;
      }
    }
  }
  .owl-dots {
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    right: 0;
    bottom: 57px;
    height: 42px;
    text-align: center;
    &.grey-color {
      .owl-dot {
        background-color: #657b89;
      }
    }
    .owl-dot {
      width: 5px;
      height: 5px;
      padding: 0;
      border-radius: 50%;
      background-color: #fff;
      opacity: .5;
      transition: all .25s linear;
      border: none;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &.active {
        opacity: 1;
        transform: scale(1.5);
        transition: all .25s linear;
      }
    }
  }
  .contact-info {
    padding-top: 28px;
    .cl-6 {
      text-align: center;
    }
  }
  .web-links .web-info-links a:first-child {
    margin-bottom: 15px;
  }
  .contacts-form.form-wrapper {
    padding: 0;
    .form-container {
      padding: 20px;
      .form-name {
        margin-bottom: 30px;
      }
    }
  }
  .plain-svg {
    left: 25%;
  }
  .mobile-slider {
    max-height: 100%;
  }
}